<%= flash[:notice] %>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h2>User info</h2>
      <%= image_tag @user.get_profile_image(100,100) %>
      <table class="table">
        <tbody>
          <tr></tr>
          <tr>
            <th>name</th>
            <th><%= @user.name %></th>
          </tr>
          <tr>
            <th>introduction</th>
            <th><%= @user.introduction %></th>
          </tr>
        </tbody>
      </table>
    <div class="row"><%= link_to edit_user_path(@user), class:"btn btn-outline-secondary btn-block" do %>
    <i class="fa-solid fa-user-gear"></i>
  <% end %>
    </div>
    <%= render "bookpost", book: @book_new %>
  </div>
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table">
        <tbody>
          <tr>
            <td class="col-4"><%= link_to image_tag(@user.get_profile_image(100,100)),user_path(@user) %><br><%= link_to  @user.name,user_path(@user) %></td>
            <td class="col-2"><%= link_to @book.title, book_path(@book.id) %></td>
            <td class="col-2"><%= @book.body %></td>
            <td class="col-2"><% if @user == current_user %><%= link_to "Edit", edit_book_path(@book.id), class:"btn btn-sm btn-success" %></td>
            <td class="col-2"><%= link_to "Destroy",book_path(@book.id),method: :delete,class:"btn btn-sm btn-danger", "data-confirm" =>"本当に消しますか？" %></td>
            <% end %>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>